{% extends 'base_product.html' %}

    {% block main_info_product %}


        <h1 style="margin-left: 40px">List of products:</h1>

        <ul style="margin-left: 40px">
            {% for product in data %}
                {% if session[product['name']] %}
                    <li><a>{{product['name']}}</a></li>
                {% else %}
            <li><h3><a href="{{url_for('products.get_product', id=product['id'])}}">{{product['name']}}</a></h3></li>
                {% endif %}
            {% endfor %}

<div style="margin-left: 300px"><a href="{{url_for('products.add_product_form')}}">Add product</a></div>
        </ul>

    {% endblock %}