<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<style>
.author {
  position: fixed;
  left: 0;
  top: 350px;
  width: 100%;
  font-family: Helvetica;
  font-size: 100%;
  background-color: #797D7F;
  color: white;
  text-align: center;
}
</style>
<div class="author">
<h1>Valentyna Korneyko</h1>
<h3><a href='https://github.com/Valentyna777'>MY GITHUB</a></h3>
<h1>I did it with little looking to the previous homework and my notes</h1>
</div>
</body>
</html>