{% extends "base_supermarket.html" %}

{% block main_info_supermarket %}
    <h1>Add supermarket</h1>
    <form action="/add_supermarket" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <p>
            {{ form.id.label }}<br>
            {{ form.id(size=32) }}<br>
        </p>
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}<br>
        </p>
        <p>
            {{ form.location.label }}<br>
            {{ form.location(size=32) }}<br>
        </p>
        <p>
            {{ form.img_name.label }}<br>
            {{ form.img_name(size=32) }}<br>
        </p>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
{% endblock %}
