{% extends 'base_supermarket.html' %}

    {% block main_info_supermarket %}

        <h1 style="margin-left: 40px">List of supermarkets:</h1>

        <ul style="margin-left: 40px">
            {% for supermarket in data %}
                {% if session[supermarket['name']] %}
                    <li><a>{{supermarket['name']}}</a></li>
                {% else %}
                    <li><h3><a href="{{url_for('supermarkets.get_supermarket', id=supermarket['id'])}}">{{supermarket['name']}}</a></h3></li>
                {% endif %}
            {% endfor %}
            <div style="margin-left: 150px"><a href="{{url_for('supermarkets.add_supermarket_form')}}">Add supermarket</a></div>
        </ul>

    {% endblock %}