<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<nav>
    <style>
    .navbar {
  font-family: Helvetica;
  font-size: 150%;
  background-color: rgba(255, 255, 128, .5);
  color: black;
     }
  li {
  display: inline-block;
  margin: 15px;
      }
    </style>
    <ul>
        <li><a class="navbar" href="{{url_for('get_home')}}"> Home </a></li>
    </ul>

</nav>



  {%block main_info_supermarket%}
  {% endblock %}


<footer>
    <style>
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-family: Helvetica;
  font-size: 150%;
  background-color: rgba(255, 255, 128, .5);
  color: black;
  text-align: center;
}
</style>

<div class="footer">
 <p>All rights reserved</p>
</div>

</footer>
